body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('/images/cinema.jpg') no-repeat center center fixed;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.home {
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}

.home h1 {
  font-size: 3.5em;
}

.home a {
  padding-top: 50px;
}

.movies {
  border: 0;
  padding: 20px;
  background-color: antiquewhite;
}

.movies-list {
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
  row-gap: 10%;
  justify-items: center;
}

.movie-in-list {
  text-align: center;
  padding-top: 2%;
}

.movie-page {
  border: 0;
  padding: 20px;
  background-color: antiquewhite;
  /* text-align: center; */
}
.card {
  width: 35%;
}
.card img {
  height: 5%;
}
.movie-description {
  text-align: justify;
}